<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/plugins/bulma.css" type="text/css">
		<title>Eat That Burg</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/script.js"></script>
	</head>
	<body class="has-background-primary" style="height:100vh">
		{{{ body }}}
	</body>
</html>